<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *
        {
            color:white;
            background:black;
        }
    </style>
    <h1>Glass classifier using AI!</h1>
    <pre>Enter your data below...</pre>
    <form action="{% url 'result' %}">
        {% csrf_token %}
        RI: <input type="text" required name='RI'> <br> <br>
        Na: <input type="text" required name='Na'> <br> <br>
        Mg: <input type="text" required name='Mg'> <br> <br>
        Al: <input type="text" required name='Al'> <br> <br>
        Si: <input type="text" required name='Si'> <br> <br>
        K: <input type="text" required name='K'> <br> <br>
        Ca: <input type="text" required name='Ca'> <br> <br>
        Ba: <input type="text" required name='Ba'> <br> <br>
        Fe: <input type="text" required name='Fe'> <br> <br>
        <input style='background:white;color:black;' type="submit" name='' value='submit'>
    </form>
</body>
</html>